
:root {
  --bg: #fafafa;
  --cv: #f5f5f5;
  --clr: #616161;
  --ttl: #689f38;
  --bdr: #cfd8dc;
  /*400*/
  --te: #ffca28;
  --hu: #29b6f6;
  --wn: #7e57c2;
  --pre: #ec407a;
}

.td {
  --bg: #212121;
  --cv: #424242;
  --clr: #f5f5f5;
  --ttl: #aed581;
  --bdr: #212121;
  /*100*/
  --te: #ffe082;
  /*AMBER*/
  --hu: #81d4fa;
  /*tl BLUE*/
  --wn: #b39ddb;
  /*DEEP PUERPLE*/
  --pre: #f48fb1;
  /*PINK*/
}

a {
  text-decoration: none;
  color: var(--ttl);
}

header {
  h1 {
    margin: auto;
  }
  span {
    line-height: 90%;
    text-align: center;
    flex: 1;
    &.u {
      font-size: 1.5rem;
      color: #eb0b00;
    }
    &.d {
      font-size: 1.5rem;
      color: #f9dc25;
    }
  }
  background: var(--cv);
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0.5rem;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  min-height: 7rem;
  font-weight: 900;
  padding: 0;
  color: var(--clr);
  box-shadow: 0 -4px 9px 4px rgba(0, 0, 0, 0.7);
}
main {
  display: flex;
  flex-flow: column;
  height: 100%;
  overflow-y: auto;
  flex: 1;
}
.map {
  width: auto;
  min-height: 19rem;
  display: flex;
  flex: 1;
  margin: 1rem;
}
.data, .home {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  margin: 0 1rem 1rem 1rem;
}
.dt {
  display: flex;
  width: calc(100% / 3);
  font-size: 1rem;
  padding: 1.5rem;
  background: var(--cv);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &-i {
    font-size: 3rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-t {
    flex: 2;
    font-size: 1.5rem;
    margin: 0 1rem;
    text-align: center;
    display: none;
  }
  &-v {
    font-weight: 900;
    height: 6rem;
    justify-content: center;
    display: flex;
    align-items: center;
    &.v {
      flex-direction: column;
    }
  }
  &-tg {
    width: 2rem;
    display: inline-flex;
    justify-content: end;
  }
}
.te {
  color: var(--te);
}
.hu {
  color: var(--hu);
}
.pr {
  color: var(--pre);
}
.wn {
  color: var(--wm);
}
.coffee {
  color: #ff6e40;
  margin-left: 0.5rem;
}
footer {
  background: var(--cv);
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0.5rem;
  align-items: center;
  z-index: 1;
  height: 5rem;
  font-size: 0.75rem;
  margin-top: auto;
  box-shadow: 0 4px 9px 4px rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.mo {
  position: absolute;
  z-index: 2;
  top: 2.5rem;
  right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
  border-radius: 100rem;
  .btn {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100rem;
    width: 2rem;
    height: 2rem;
    background: var(--cv);
    box-shadow: inset 0 0 0 1px var(--clr);
    position: absolute;
    left: 0;
    right: 2rem;
  }
  .f {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icn {
    width: 4rem;
    height: 2rem;
    display: flex;
    position: absolute;
    left: 0;
    right: 2rem;
    transition: all 0.5s ease;
    &.act {
      left: -2rem;
    }
  }
}
.sun {
  color: #ffab00;
}
.moon {
  color: #2962ff;
}
@media screen and (min-width: 380px) {
  .dt {
    font-size: 1.5rem;
  }
  .d {
    flex-direction: row;
  }
  .dt-i {
    font-size: 4rem;
  }
}
@media screen and (min-width: 600px) {
  .dt-t {
    display: block;
  }
  .dt-i {
    font-size: 5rem;
  }
}
